.medals-table {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
}

.medals-table th, .medals-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.medals-table th {
    background-color: #F2A30F;
    color: white;
}

.medals-table tr:nth-child(even) {
    background-color: #f2f2f2;
}
